<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Steady</title>
  <%= stylesheetTag("application.css") %>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <link rel="icon" href="<%= assetPath(" images/favicon.ico") %>">
</head>

<body>

  <div class="container">
    <%= partial("flash.html") %>
    <%= partial("nav.html") %>
    <%= yield %>
  </div>

  <script>
    var monacoWorkerAssets = {
      "html": '<%= assetPath("html.worker.js") %>',
      "json": '<%= assetPath("json.worker.js") %>',
      "css": '<%= assetPath("css.worker.js") %>',
      "ts": '<%= assetPath("ts.worker.js") %>',
      "editor": '<%= assetPath("editor.worker.js") %>',
    }
  </script>
  <%= javascriptTag("application.js") %>


</body>

</html>
